*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


p{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Maven Pro', sans-serif;
}

/* Header */
.cont-header{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25%;
}

.logo{
    padding-left: 55px;
    height: 155px;
}

h1{
    font-family: 'Pirata One';
    font-size: 50px;
}

.fa, .fas {
    font-weight: 900;
    font-size: 35px;
    padding: 3px;
}

/* Navegacion */
    /* Contenedor */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d6e1df;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: black;
}


/* Main */
    /* Contenedor */
.cont-main{
    display: flex;
    justify-content: center;
}

    /* Barra lateral marcas destacadas */

.item-marca{
    margin-bottom: 46px !important;
}

.img-marcas{
    height: 60px;
    margin: 13px 13px 0px 13px;
}

.item-marca-title{
    max-inline-size: fit-content;
}

.nombre-marca{
    padding: 10px;
}

    /* Ofertas */

.item-ofertas-title{
    width: fit-content;
    margin-left: 10%;
    background-color: #98ccfe;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 0px 4px 0px 4px;
}

.cont-productos-centro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-producto{
    height: 250px;
    margin: 0 auto;
}

.nombre-producto{
    max-inline-size: 92%;
}

    /* Tarjetas productos */
.item-ofertas, .item-secciones, .tarjeta-lateral{
    display: flex;
    flex-direction: column;
    width: min-content;
}

.tarjeta-produto, .tarjeta-marca{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin: 15px;
}

.info-producto{
    text-align: center;
}

.precio-anterior{
    display: inline;
    color: #ABAAAA;
    text-decoration-line: line-through;
    margin-right: 25px;
}

.descuento{
    display: inline;
    color: #D80000;
}

button {
    background-color: #2183a2;
    text-align: center;
    border: 0px;
    padding: 15px;
    font-size: 23px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

    /* Publicidad */
.publicidad-1 {
    height: 100px;
    margin-top: 40px;
}

    /* Barra lateral mas vendidos */

.cont-item-mas-vendidos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

    
.img-producto-lateral{
    height: 200px;
}

/* Secciones */
.cont-secciones {
    margin-left: 70px;
}

.cont-productos-secciones{
    display: flex;
}

.item-secciones{
    margin-left: 18px;
    margin-right: 10px;
    width: 23%;
}


/* Footer */
footer{
    margin-top: 100px;
}

footer, header{
    width: 100%;
    background-color: #98ccfe;
}

.columnas-footer{
    display: flex;
    justify-content: space-evenly;
}

.img-footer{
    width: 100%;
}

.logo-footer{
    height: 235px;
}

.item-box-text{
    display: flex;
    margin-top: 40px;
    gap: 4%;
}

.icon-box-text{
    align-self: center;
} 

.cont-info-footer{
    margin-top: 36px;
}

/* Redes */
.cont-redes{
    margin-top: 33px;
}

.cont-item-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab{
    font-size: 40px;
    margin: 16px;
}

/* Desarrolladores */
.nombre-desarrollador{
    margin: 0px;
    padding: 8px;
}

/* RESPOSIVE */
body{
    max-width: 1250px;
}

@media screen and (min-width: 1250px) {

    .cont-marcas{
        width: 20%;
    }

    .cont-ofertas{
        width: 50%;
    }

    .cont-mas-vendidos{
        width: 17%;
    }
}

@media screen and (max-width: 1010px) {
    
}