*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

p{
    text-align: center;
}

/* Header */
.cont-header{
    background-color: #abc8d3;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30%;
}

.logo{
    padding-left: 55px;
    height: 155px;
}

h1{
    font-family: 'Pirata One';
    font-size: 50px;
}

.fa, .fas {
    font-weight: 900;
    font-size: 27px;
    padding: 3px;
}

/* Navegacion */
    /* Contenedor */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d6e1df;
    margin-bottom: 40px;
}

nav a{
    text-decoration: none;
    padding: 13px 20px;
}


/* Main */
    /* Contenedor */
.cont-main{
    display: flex;
    flex-grow: 1;
}

    /* Barra lateral marcas destacadas */
.cont-marcas{
    padding-left: 46px;
}

.item-marca{
    margin-bottom: 46px !important;
}

.img-marcas{
    height: 92px;
    margin: 13px 13px 0px 13px;
}

.item-marca-title{
    max-inline-size: fit-content;
    margin-bottom: 35px;
}

    /* Ofertas */
.cont-ofertas{
}

.item-ofertas-title{
    background-color: rgb(236, 236, 140);
    width: fit-content;
    margin-left: 10%;
}

.cont-productos-centro{
    display: flex;
    flex-wrap: wrap;
    margin-left: 61px;
    justify-content: center;
}

.img-producto{
    height: 300px;
    margin: 0 auto;
}

.nombre-producto{
    max-inline-size: 92%;
}

    /* Tarjetas productos */
.tarjeta-produto, .tarjeta-marca{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin: 33px
}

.info-producto{
    text-align: center;
}

.precio-anterior{
    display: inline;
    color: #ABAAAA;
    text-decoration-line: line-through;
}

.descuento{
    display: inline;
    color: #D80000;
}

button {
    background-color: #2183a2;
    text-align: center;
    border: 0px;
    padding: 15px;
    font-size: 23px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

    /* Publicidad */
.publicidad-horizontal {
    height: 124px;
    margin-top: 40px;
}

    /* Barra lateral mas vendidos */

.cont-mas-vendidos{
    margin: 40px 40px 0px 40px;
    }

.tarjeta-lateral{
    width: 213px;
}
    
.img-producto-lateral{
    height: 250px;
}



/* Secciones */
.cont-secciones {
    margin-left: 70px;
}

.cont-productos-secciones{
    display: flex;
}

.item-novedades, .item-cervezas, .item-accesorios {
    background-color: white;
    margin: 12px;
}
